<div>
  <h2>Watched</h2>
  <ul class="container">
    <li *ngFor='let n of watch' class='thumbnail'>
      <div class="card">
        <a href='/moviedetails/{{n.id}}' class='thumb'>
          <img src='http://image.tmdb.org/t/p/w92{{n.poster_path}}' alt='{{n.title}}'>
        </a>
        <div class="info">
          <h3><b>{{n.title}}</b></h3>
          <h4>{{n.vote_average}}/10</h4>
          <p>{{n.overview}}</p>
        </div>
        <a class="button" id="removeWatched">&#10006;</a>
      </div>
    </li>
  </ul>
</div>

<div>
  <h2>Tracked</h2>
  <ul class="container">
    <li *ngFor='let n of track' class='thumbnail'>
      <div class="card">
        <a href='/moviedetails/{{n.id}}' class='thumb'>
          <img src='http://image.tmdb.org/t/p/w92{{n.poster_path}}' alt='{{n.title}}'>
        </a>
        <div class="info">
          <h3><b>{{n.title}}</b></h3>
          <h4>{{n.vote_average}}/10</h4>
          <p>{{n.overview}}</p>
        </div>
        <a class="button" id="removeWatched">&#10006;</a>
      </div>
    </li>
  </ul>
</div>

<!-- <div>
  <h2>Top Rated</h2>
  <ul class="container">
    <li *ngFor='let n of topRated' class='thumbnail'>
      <a href='/moviedetails/{{n.id}}' class='thumb'>
        <img src='http://image.tmdb.org/t/p/w154{{n.poster_path}}' alt='{{n.title}}'>
      </a>
      <p>{{n.title}}</p>
      <p>{{n.vote_average}}/10</p>
    </li>
  </ul>
</div> -->