* { margin:0; padding:0; box-sizing:border-box; }
app-root{
    position:absolute;
    top:46px;
    width:100%;
}

html,body
{
    background-color: #333;
    color:rgb(239, 218, 185);
    font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5{
    color:#00d474;
}

.nav{
    -webkit-box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.7);
-moz-box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.7);
box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.7);
}