#angular files
angular/.gitignore
angular/browserlist
angular/README.md
angular/package-lock.json
angular/package.json
angular/tsconfig.app.json
angular/tsconfig.json


#Movie-Tracker files
movie-tracker/src/target
movie-tracker/.classpath
movie-tracker/.project
movie-tracker/.settings
.vscode/launch.json
.vscode/settings.json
movie-tracker/target/
