<!-- <button (click)="displayMovie('19404')">Testing</button> -->
<section>
  <div style="width:100%; height:80vh;"
    [ngStyle]="{background: 'center/cover fixed url(https://image.tmdb.org/t/p/original' + movie.backdrop_path + ')' }">
  </div>
</section>
<section>
  <h1 class="movieTitle">
    {{ movie.title }}</h1>
</section>
<section class=" twoColumnContainer">
  <div class="poster">
    <img src="https://image.tmdb.org/t/p/w300{{movie.poster_path}}">
  </div>
  <div class="description">
    <br>
    <h2>Genre</h2>
    <p>
      <span *ngFor=" let genre of movie.genres; let i=index">
        <span *ngIf="movie.genres.length -1 > i; else noComma">
          {{ genre.name }},
        </span>
        <ng-template #noComma>{{ genre.name }}</ng-template>
      </span>
    </p>
    <br>
    <h2>Description</h2>
    <p>
      {{ movie.overview }}
    </p>
    <br>
    <h2>Production Countries</h2>
    <p>
      <span *ngFor="let country of movie.production_countries; let i=index">
        <span *ngIf="movie.production_countries.length -1 > i; else noComma">
          {{ country.name }},
        </span>
        <ng-template #noComma>{{ country.name }}</ng-template>
      </span>
    </p>
    <br>
    <h2>Production Companies</h2>
    <p>
      <span *ngFor="let company of movie.production_companies; let i=index">
        <span>
          <img class="miniLogo" width="100px" src="https://image.tmdb.org/t/p/original{{company.logo_path}}"
            alt={{company.name}}>
        </span>
      </span>
    </p>
    <br>
    <p>
      <strong>
        <a target="_blank" href="https://www.imdb.com/title/{{ movie.imdb_id}}">
          <img width="100px"
            src="https://ia.media-imdb.com/images/M/MV5BMTk3ODA4Mjc0NF5BMl5BcG5nXkFtZTgwNDc1MzQ2OTE@._V1_.png">
        </a>
      </strong>
    </p>
  </div>
</section>

<app-reviews></app-reviews>

<!-- <img src="https://image.tmdb.org/t/p/original{{movie.backdrop_path}}" width="100%"
  style="background-image: radial-gradient(circle at 20% 50%, rgba(11.76%, 15.29%, 17.25%, 0.98) 0%, rgba(19.61%, 21.96%, 23.53%, 0.88) 100%)"> -->
<br>