body {margin:0;}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  z-index: 1;
}

ul .tmdblogo{
    display: inline;
    vertical-align: middle;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #69c29a;
}

.active {
  background-color: #00d474;
  /*  !important;  */
}

li.active a{
    color:#000;
}

.tmdblogo{
    float: right;
    padding-right: 30px;
    padding-top:3px;
}